.book{
  padding: 157px 0 152px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 20;

  &-img{
    position: absolute;
    right: 0;
    top: -20px;
  }

  &-form{
    border: 1px solid rgba(220, 202, 135, 0.2);
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
    width: 1364px;
    padding: 48px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0C0C0C;



    &-text{
      font-weight: 700;
      font-size: 23px;
      line-height: 130%;
      letter-spacing: 0.04em;
      text-transform: capitalize;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #FFFFFF;
      margin-bottom: 8px;
    }

    &-title{
      font-family: 'Cormorant Upright', serif;
      font-weight: 600;
      font-size: 64px;
      line-height: 130%;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #DCCA87;
      margin: 8px 0 64px;
    }

    &-form-row{
      display: flex;
      column-gap: 32px;
      align-items: center;
    }

    &-btn{
      font-family: 'Cormorant Upright', serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 175%;
      letter-spacing: 0.04em;
      padding: 8px 32px;
      color: #0C0C0C;
      background: #DCCA87;
      border: 1px solid #DCCA87;
      margin-top: 64px;
    }

    &-select{
      width: 412px;
      height: 60px;
      border: 1px solid #F5EFDB;
      background: transparent;
      font-family: 'Cormorant Upright', serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 175%;
      letter-spacing: 0.04em;
      text-transform: capitalize;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: #AAAAAA;
      padding: 16px 16px;
    }
  }

}